body {
  margin: 0;
  height: 100vh;
  background: url("background-desktop.png") center center / cover no-repeat,
    url("pattern-squiggly-line-bottom-desktop.svg") left bottom / 400px
      no-repeat,
    url("pattern-circle.svg") left top / 100px no-repeat,
    url("pattern-squiggly-line-top.svg") right top / 300px no-repeat,
    url("wide-curve.png") center top / cover no-repeat,
    url("pattern-lines.svg") center / cover repeat-y;

  background-blend-mode: screen, normal, normal, normal, overlay, normal;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-family: "Inconsolata", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pattern-lines {
  z-index: -1;
}
.logo {
  width: 120px;
  display: block;
  margin: 10px auto;
}
h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 0px;
}
p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}
.email {
  color: #ff6f61;
}
.name {
  background-image: linear-gradient(to right, #f17668, #f3ebea);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.ticket {
  width: 30rem;
  position: absolute;
}
.event-details {
}
.event-details img {
  width: 180px;
  position: relative;
  top: 20px;
  left: 18px;
}
.event-details p {
  position: relative;
  top: 12px;
  text-align: left;
  left: 60px;
}
.avatar {
  width: 50px;
  border-radius: 10px;
  position: relative;
  left: 18px;
}
.avatar-name {
  position: relative;
  top: 0px;
}
.serial-number {
  position: relative;
  right: 10px;
}
